.container {
  height: calc(100vh - 100px);
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.right {
  flex: 1;
  padding: 20px;
}

.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #d1411e;
}

.menus {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menu:nth-child(2) {
  width: 40px;
  height: 40px;
}

.menu:last-child {
  width: 50px;
  height: 50px;
}

.size {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.ingredient {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #d1411e;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* -------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .imgContainer {
    width: 70vw;
    height: 30vh;
  }

  .title {
    margin: 0;
  }

  .menus {
    width: 100%;
    padding: 0 20px;
  }

  #input-number::-webkit-inner-spin-button,
  #input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }

}